.editback{
  background-image: url(oliveoil.jpg);
  min-height: calc(100vh - 89px);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: 40%;

}

.updatebtn{
  display: flex;
  justify-content: center;
}

