.containerhomefridge{
  background: rgb(255,255,255);
  margin-bottom: 20px;
  margin-top: 40px;
  border-radius: 20px;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 20px 20px 50px rgb(216,222,224);
  width: 90%;

}

.textnext{
  margin-left: 20px;
  font-family: 'Open Sans';
}

.picturefridge{
  transform: translate(-12px, -15px);
  background-color: rgb(216,222,224);
  height: 150px;
  width: 140px;
  align-items: center;
  border-radius: 20px;
}
 .backgroundhomefridge{
  background-color:rgb(249, 245, 243);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
 }

 .h2homefridge{
  text-align: center;
  font-family: monospace;
	font-size: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
  background: linear-gradient( rgb(86,124,123),rgb(249, 245, 243));
 }

 .littletext{
  color: rgb(86,124,123);
  text-align: start;
  padding-top: 1px;
  font-family: monospace;
 }

 .ingname{
  text-align: left;
  font-size: 20px;
  margin-top: 10px;
 }

 .expirationdate{
  margin-top: -10px;
 }

 .addlink{
  display: flex;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  background-color: rgb(86,124,123);
  margin-left: 30px;
  margin-right: 30px;
  height:65px;
  width: 135;
  margin-bottom: 20px;
  margin-top: 40px;
  border-radius: 20px;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 20px 20px 50px rgb(216,222,224);
  justify-content: center;
  align-items: center;

 }

 .adding{
  display: flex;
  text-align: center;
  font-size: 20px;
  border-radius: 20px;
  background-color:  rgb(86,124,123) ;
  margin-left: 30px;
  margin-right: 30px;
  height:65px;
  width: 350px;
  margin-bottom: 20px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  box-shadow: 20px 20px 50px rgb(216,222,224);
  padding-top: 15px;
 }

 .addingingredients{
  border-radius: 10px;
  background-color:  rgb(86,124,123) ;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
 }


 #jhjhjh{
  color: rgb(255,255,255)
 }

 #shuffle{
  color: rgb(86,124,123);
 }

 #edit i{
  color: rgb(86,124,123);
  font-size: 2em;
 }

.shuffle_btn{
  width: 390px;
  display: flex;
  justify-content: center;
}


 .shuffleAll{
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 20px;
  height: 100px;
  display: flex;
  align-items: center;
}

#shuffleAllback{
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #567c7b;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 20px;
  height: 35px;
  width: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#shuffleAlltrash{
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #567c7b;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 20px;
  height: 34px;
  display: flex;
  align-items: center;
}

.buttonsflex2{
  display: flex;
  justify-content: space-around;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

#delete_btn{
  color: rgb(86,124,123);
  font-size: 2em;
  transform: translate(0px, -50px)
}

.logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

//////////////////////////////////////////////////////////

#crimson {
  color: black;
  font-family: monospace;
}
