.container_sign_up {
margin-top: 30px;
padding-right: 10px;
padding-left: 10px;
height: 800px;
background-color: white;
border-top-left-radius: 90px;


}

.sign_upbutton{
  border-style: solid;
  border-radius: 30px;
  background-color: black;
  border-color: white;
  color: white;
  width: 150px;

}



#user_first_name{
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: rgba(0, 0, 0, 0.337);
  background-color: transparent;
  border-width: 2px;
  margin-bottom: 40px;
}

#user_last_name{
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: rgba(0, 0, 0, 0.337);
  background-color: transparent;
  border-width: 2px;
  margin-bottom: 40px

}

#user_email{
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: rgba(0, 0, 0, 0.337);
  background-color: transparent;
  border-width: 2px;
  margin-bottom: 40px

}


#user_password{
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: rgba(0, 0, 0, 0.337);
  background-color: transparent;
  border-width: 2px;
  margin-bottom: 40px

}

#user_password_confirmation{
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: rgba(0, 0, 0, 0.337);
  background-color: transparent;
  border-width: 2px;
  margin-bottom: 40px

}

#user_photo{
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.337);
  background-color: transparent;
  border-width: 2px;
  margin-bottom: 40px

}

.H2 {
  text-align: center;
  padding-top: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 40px;
}

.comeback{
  border-style: solid;
}

.background{
  background-color: blue;
  height: 800px;

}
