.container_sign_up {
margin-top: 30px;
padding-right: 10px;
padding-left: 10px;
height: 800px;
background-color: white;
border-top-left-radius: 90px;


}

.sign_up_button{
  background-color: rgba(86, 124, 123, 0.6);
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;

}



#user_first_name{
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: rgba(0, 0, 0, 0.337);
  background-color: transparent;
  border-width: 2px;
  margin-bottom: 40px;
}

#user_last_name{
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: rgba(0, 0, 0, 0.337);
  background-color: transparent;
  border-width: 2px;
  margin-bottom: 40px

}

#user_email{
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: rgba(0, 0, 0, 0.337);
  background-color: transparent;
  border-width: 2px;
  margin-bottom: 40px

}


#user_password{
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: rgba(0, 0, 0, 0.337);
  background-color: transparent;
  border-width: 2px;
  margin-bottom: 40px

}

#user_password_confirmation{
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: rgba(0, 0, 0, 0.337);
  background-color: transparent;
  border-width: 2px;
  margin-bottom: 40px

}

#user_photo{
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.337);
  background-color: transparent;
  border-width: 2px;
  margin-bottom: 40px

}

.H2 {
  text-align: center;
  padding-top: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 40px;
}

.comeback{
  border-style: solid;
}

.background{
  background-color: rgba(86,124,123, 0.6);
  height: 800px;
  margin-top: -32px;

}
