<div class="backgroundhomefridge">
  <h1 class="h2homefridge">All recipes:</h1>
  <% @recipes.each do |recipe| %>
    <div class="containerhomefridge">
      <%= link_to fridge_recipe_path(current_user.fridges.first, recipe, previous_page: true), id:"edit" do %>
        <div class="d-flex">
        <%= cl_image_tag recipe.photo.key, height:145, width: 135, crop: :fill, class: "pictag"%>
          <div class="textnext">
            <div class="littletext">
              <p class="ingname"><%= recipe.name %></p>
              <p class="stars_review">
                <% recipe.rating.to_i.times do %>
                  <i class="fa-solid fa-star"></i>
                <% end %>
              </p>
              <p> View details </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
