<h1 class="text-center title">choose your fridge</h1>
<div class="flex-container">
  <div data-controller="switch">
    <div id="cest-pour-le-slide">
      <label class="switch">
        <input checked type="checkbox" id="togBtn" data-switch-target="the_switch" data-action="click->switch#switch_content">
        <div class="slider round">
          <span class="on">HOME</span>
          <span class="off">AWAY</span>
        </div>
      </label>
    </div>
      <div data-switch-target="home_fridge", class="fridge-ben">
        <div class="cest-pour-les-frigos">
          <%= link_to fridge_path(@fridges[0]), id: "home-fridge" do %>
            <%= image_tag "home_fridge10.png", class: "fridge-image" %>
          <% end %>
        </div>
        <div class="fridge-description">
          The home fridge is your permanent record of what ingredients you have. Keep it up to date for your benefit.
        </div>
      </div>
      <div data-switch-target="away_fridge" class="d-none fridge-ben">
        <div class="cest-pour-les-frigos">
          <%= link_to fridge_path(@fridges[1]), id: "away-fridge" do %>
            <%= image_tag "away_fridge10.png", class: "fridge-image" %>
          <% end %>
        </div>
        <div class="fridge-description">
          Use this empty fridge whenever you are away from home in order to get creative new recipe ideas.
        </div>
      </div>
    </div>
  </div>
</div>
