<div class="banner">
  <div class="container">
    <h1><strong> Fridge Vibe </strong></h1>
    <p>Just choose your ingredients and Enjoy your meal!</p>
    <p><strong>What would you like to choose?</strong></p>
  </div>
</div>
