<div class ="container cards-container" >
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.vectorstock.com/i/1000x1000/35/72/fridge-app-icon-vector-28883572.webp)">
    STORE
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.vectorstock.com/i/1000x1000/35/72/fridge-app-icon-vector-28883572.webp)">
    USER FRIDGE
  </div>
</div>
