.card-category {
  background-size: cover;
  background-position: center;
  height: 208px;
  width:300px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color:white;
  font-size: 24px;
  display: flex;
  flex:center;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.card-category:hover {
  transform: scale(1.2);
}
.cards-container {
 display:flex;
 justify-content: space-evenly;
 padding:50px;
 margin:automatically;
}
