.navbar-lewagon {
  justify-content: space-between;
  background:rgb(86,124,123);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.logo-pic{

  width: 60px!important;
  height: 60px;
  border-radius: 10px;
}
