
<div class="container_review">
  <div class="content_review">
    <h2 class="h2review">Review</h2>
      <%= simple_form_for [@fridge, @recipe,@review] do |f| %>
        <%= f.input :content,label: false%>
        <div class="stars">
          <%= f.input :rating, collection: (1..5).to_a, label: false,
          input_html: {data: {controller: "star-rating", action: "click->form-submit#submit"} }  %>
        </div>
        <div class="submitreview">
          <%= f.submit "Submit review", class: "btn btn-primary" %>
        </div>
      <% end%>
  </div>
</div>
